<div class="body-d">
   <div class="body-bg">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-sm-10">
               <div class="bg-white py-5">
                  <div class="text-center">
                     <h1>Todos List</h1>
                     <div class="pt-3 pb-5">
                        <p class="text-left ml-5">Incomplete</p>
                        <div class="todolist not-done">
                           <ul id="sortable" class="list-unstyled mx-5">
                              <li class="px-md-5 px-sm-3 px-xs-3 ui-state-default mb-4"
                              *ngFor="let task of taskListic; let i = index">
                                 <div class="checkbox pt-4" *ngIf="task.status == 'incomplete'">
                                    <input id="checkic_{{i}}" type="checkbox" name="checkic_{{i}}" (change)="checkTask('complete', task._id)">
                                    <label for="checkic_{{i}}" id="checkic_{{i}}">{{ task.task_name }}</label>
                                    <span></span>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="todolist">
                        <p class="text-left ml-5">Completed</p>
                        <ul id="done-items" class="list-unstyled mx-5">
                           <li class="px-md-5 px-sm-3 px-xs-3 ui-state-default mb-4"
                           *ngFor="let task of taskListc; let i = index">
                              <div class="row">
                                 <div class="checkbox pt-4 col-sm-10 through" *ngIf="task.status == 'complete'">
                                    <input id="checkc_{{i}}" type="checkbox" name="taskic" (change)="checkTask('incomplete', task._id)" checked>
                                    <label for="checkc_{{i}}">{{ task.task_name }}</label>
                                    <span></span>
                                 </div>
                                 <div class="col-sm-2 text-right pt-3">
                                    <p class="text-danger curss" (click)="deleteTask(task._id)">Delete</p>
                                 </div>
                              </div>
                           </li>
                        </ul>
                     </div>
                     <div class="todo-footer mt-3 mx-5">
                        <form [formGroup]="form">
                           <div class="row">
                              <div class="col-md-10 col-sm-11">
                                 <input type="text" class="input-100 border" name="taskc" 
                                 formControlName="task" [ngClass]="{ 'is-invalid': submitt }">
                              </div>
                              <div class="col-md-2 col-sm-1">
                                 <button type="submit" class="btn-task btn-success border-0" (click)="onSubmit()">
                                    Add Task
                                 </button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>